<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->

<ion-view view-title="{{spot.name}}" class="slider-view">

  <!-- ng-repeat="card in cards"> -->
  
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-map" 
      ng-href="#/map/{{ spot.vuid }}">
    </a>
  </ion-nav-buttons>

  <ion-content scroll="true" ng-controller="DetailCtrl">
    <ion-slide-box show-pager="true">
      <ion-slide
        class="spotDetailImage" 
        ng-repeat="imageurl in spot.images">
        <div class="sliderCard" style="background-image: url({{imageurl}})">
        </div>
      </ion-slide>
    </ion-slide-box>

    <div class="row spotDetailHeader"> 
      <div class="col">
        <div class="open-hours-detail"> Open now </div>
        <!-- <div ng-if="card.venue_open_now == true"  class="open-hours">  Open now  </div>  
          <div ng-if="card.venue_open_now == false" class="closed-hours">  Closed now </div> -->
        <h2 class="spotDetailName">{{spot.name}}</h2>
        <h3 class="spotDetailAddress">{{spot.address}}, {{spot.postcode}}</h3>
      </div>
    </div>
      
    <div class="row spot-detail-strip">
      <h5 class="padding-left col col-60 spot-detail-price"><span ng-bind-html="spot.rating_cost_html_str"></span></h5>
      <h5 class="padding-right col col-30 spot-detail-distance">{{spot.distance}} away</h5>
    </div>
    

    <div class="padding details-page">
      <!-- LONG DESCRIPTION OF THE SPOT -->
      <div class="detail-description-block">

        <!-- BLURB AND DESCRIPTION -->
        <div class="spot-detail-description">
          <div class="detail-blurb">{{spot.desc_short}}</div>
          <div class="detail-long-text">{{spot.desc_long}}</div>
        </div>

        <!-- BUTTONS TO CALL, EMAIL AND BOOK -->
        <div class="row spot-detail-options">
          <div class="col-5 buffer-left"></div>
          <div class="col button-holder">
            <button class="button call-button">
              <a href="tel: +44 7514143203">
                <i class="ion-ios-telephone halo call-icon"></i>
              </a>
            </button>
          </div>
          <div class="col button-holder">
            <button class="button email-button">
              <i class="ion-ios-email halo email-icon"></i>
            </button>
          </div>
          <div class="col button-holder">
            <button class="button book-button"
                    ng-click="openInAppBrowser()">
              <i class="ion-calendar halo book-icon"></i>
            </button>
          </div>
          <div class="col-5 buffer-left"></div>
        </div>
      </div>

      <!-- OPENING HOURS TABLE -->
      <div class="padding opening-hours-block">
        <table>
          <tr>
            <td align="left" class="table-days">Monday</td>
            <td align="left" class="table-hours">Hours</td>
          </tr>
          <tr>
            <td align="left" class="table-days">Tuesday</td>
            <td align="left" class="table-hours">Hours</td>
          </tr>
          <tr>
            <td align="left" class="table-days">Wednesday</td>
            <td align="left" class="table-hours">Hours</td>
          </tr>
           <tr>
            <td align="left" class="table-days">Thursday</td>
            <td align="left" class="table-hours">Hours</td>
          </tr>
           <tr>
            <td align="left" class="table-days">Friday</td>
            <td align="left" class="table-hours">Hours</td>
          </tr>
           <tr>
            <td align="left" class="table-days">Saturday</td>
            <td align="left" class="table-hours">Hours</td>
          </tr>
           <tr>
            <td align="left" class="table-days">Sunday</td>
            <td align="left" class="table-hours">Hours</td>
          </tr>
        </table>
      </div>
    </div>
  </ion-content>
</ion-view>


