
<ion-view view-title="Discover" class="discover-page"> 
  <ion-content scroll="false">
  
    <td-cards>
      <td-card ng-repeat="card in cards" 
          on-destroy="cardDestroyed($index)" 
          on-swipe-left="cardSwipedLeft($index)" 
          on-swipe-right="cardSwipedRight($index)" 
          on-partial-swipe="cardPartialSwipe(amt)" 
          class="padding card-{{$index}} discover-card" 
          ng-click="showDetails('{{ card.vuid }}');">
		
  		  <div class="discover-card-image">
  		    <img ng-src="{{card.image_url}}" />
        </div>
        <div class="card-spot-title-block">
          <p class="card-spot-name">
            {{ card.name }} 
          </p> 
          <p class="card-spot-address">{{ card.address }}, {{card.postcode}}</p>
        </div>
        <div class="row card-spot-strip">
          <span class="col-33 price-meter">Price:  £££££
          </span>
          <span class="col-33 quirky-meter"> 
          </span>
          <span class="col-33 card-spot-distance"> 
            {{ card.distance }}
          </span>   
        </div>
  		  <div class="discover-card-caption" style="background-color:#background-color: transparent;">
          <div class="hours-status">  Open now  </div>  
          <span class="card-spot-distance">{{ card.distance }}</span>   
  			  <p class="card-spot-description">{{ card.desc_short }}</p>
        </div>
		 
      </td-card>
    </td-cards>

	</ion-content>
</ion-view>

