<ion-view view-title="Gameplan" class="filter-page">
  <ion-content scroll="false">

  <ion-content class="has-header" overflow-scroll="true">

    <div class="preamble">
    	<h5>Give us some details for your special occasion.</h5>
    </div>

    <div id="date-filter">
			<label class="item item-input">
    		<span class="input-label">What's the date?</span>
          <ionic-datepicker idate="currentDate" disablepreviousdates="true"  disablefuturedates="false" callback="datePickerCallback" disableddates="disabledDates" title="title">
            <button class="button button-block button-positive"> {{ currentDate | date:'dd - MMMM - yyyy' }} 
            </button>
          </ionic-datepicker>
    		<input type="text">
  		</label>
		</div>

		<div id="time-filter">
			<label class="item item-input">
    		<span class="input-label">What time?</span>
 	    		<ionic-timepicker etime="slots.epochTime" format="slots.format" step="slots.step" callback="timePickerCallback">    
						
						<button class="button button-block button-positive">
							{{slots.epochTime}} 
						</button>

					</ionic-timepicker>
						
    		<input type="text">
  		</label>
		</div>

		<div id="where-filter">
			<label class="item item-input">
    		<span class="input-label">
    			Where is it?
    		</span>
    		<input type="text">
  		</label>
		</div>

		<div id="what-filter">
			<div class="list">
				<label class="item item-input item-select">
					<div class="input-label">
						What occasion?
					</div>
					<select>
						<option>
							First date
							<i class="icon ion-clock"></i>
						</option>
						<option>Drinks date</option>
						<option>Dinner date</option>
						<option>Brunch or coffee date</option>
						<option>Do something different</option>
						<option>Impress a visitor</option>
						<option>Drinks with friends</option>
						<option>Seal the deal</option>
					</select>
				</label>
			</div>
		</div>
			
		<div id="price-filter">
			<div class="item range range-positive">
				How much?
  			<input type="range" name="volume">
  			<i class="icon ion-cash"></i>
			</div>
		</div>

		<div id="quirky-filter">
			<div class="item range range-positive">
				How quirky?
  			<input type="range" name="volume">
  			<i class="icon ion-beaker"></i>
			</div>
		</div>

			<button class="button button-block button-positive" href="#/tab/favorites" ng-click="runFilter">
  			Find me datespots!
			</button>

  <ion-content>




		<!-- <ion-view title="Details Grid"> -->
  <!-- set overflow-scroll="true" and hand scrolling to native -->
  <!-- <ion-content class="has-header" overflow-scroll="true">
    <wj-flex-grid auto-generate-columns="false" items-source="data" selection-mode="Row" row-edit-ending="rowEditEnding(s,e)" style="position:relative">
      <wj-flex-grid-column width="2*" min-width="250" header="Title" binding="title"></wj-flex-grid-column>
      <wj-flex-grid-column width="*" min-width="100" header="Amount" binding="amount" format="c2"></wj-flex-grid-column>
      <wj-flex-grid-column width="*" min-width="100" header="Date" binding="date"></wj-flex-grid-column>
      <wj-flex-grid-column width="2*" min-width="250" header="Description" binding="description"></wj-flex-grid-column>
    </wj-flex-grid>
  </ion-content>
  <ion-footer-bar class="bar button-bar-footer">
    <div class="button-bar">
      <button type="button" class="button button-dark icon-left ion-close" on-tap="cancel()">Cancel</button>
      <button type="button" class="button button-balanced icon-left ion-checkmark" ng-disabled="!data.itemsEdited.length" on-tap="update()">Save</button>
    </div> -->

  </ion-footer-bar>
</ion-view>


	



  </ion-content>
</ion-view>