<!--
<ion-view view-title="Search" header-shrink scroll-event-interval="5">
-->

<ion-view view-title="Search">
  <ion-nav-buttons side="left">
    <!-- <button class="button button-icon ion-navicon" 
      ng-href="#/settings">
    </button> -->
    
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-bookmark"  ng-href="#/shortlist"></a>
  </ion-nav-buttons>
  <ion-content>

    <ion-list class="OccasionPicker">

      <ion-item 
        class="defaultOccasion" 
        ng-repeat="occasion in occasions"
        style="background-image: url({{occasion.imgurl}})"
	      href="#/discover/{{occasion.id}}">
		  
        <div class="col occasionInfo">
          <span class="occasionSpan">
            <h1 class="occasionHeader">{{occasion.name}}</h1>
          </span>
        </div>
      </ion-item>
    </ion-list>
 
  </ion-content>
</ion-view>
