<ion-view view-title="What's the occasion?">
  <ion-nav-buttons side="left">
    <!-- <button class="button button-icon ion-navicon" 
      ng-href="#/settings">
    </button> -->
    
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-bookmark" 
      ng-href="#/shortlist">
    </a>
  </ion-nav-buttons>
  <ion-content>
    <div ng-controller="OccasionCtrl">

      <ion-list class="OccasionPicker">
        <ion-item 
          class="defaultOccasion" 
          href="#/discover"
          ng-repeat="item in items"
          style="background-image: url({{item.url}})">
          <div class="col occasionInfo">
            <span class="occasionSpan">
              <h1 class="occasionHeader">{{item.name}}</h1></span>
            <p class="occasionTagline">{{item.tag}}</p>
          </div>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>