<ion-view view-title="Shortlist">
  
  <!-- NAVIGATION STRIP -->
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-map" 
      ng-href="#/map">
    </a>
  </ion-nav-buttons>
  
  <!-- SHORTLIST -->
  <ion-content>
    <ion-list>
      <ion-item 
        class="item-remove-animate item-icon-right" 
        ng-repeat="spot in shortlist"
        type="item-text-wrap"
        href="#/spots/{{spot.vuid}}">

        <!-- EACH DATESPOT IN THE SHORTLIST -->
        <!-- change ng-repeat to spot in spots for static version -->
        <div class="shortlistImage"
          style="background-image: url({{spot.image_url}})">
        </div>
        <div class="shortlistInfo" style="background-image: url({{spot.image_url}})">
            <h2 class="shortlistHeader">{{spot.name}}</h2>
            <h3 class="shortlistAddress">{{spot.address}}</h3>
			<!--
           <ion-footer-bar class="shortlistTagline">
            <div class="textWrapper">{{spot.desc_short}}</div>
          </ion-footer-bar>
		  -->
        </div>

        <!-- SWIPE OPTIONS TO DELETE OR SHARE EACH DATESPOT -->
        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" 
          ng-click="removeSpot(spot, $index)">
            <i class="ion-trash-a"></i>
        </ion-option-button>
        <ion-option-button class="button-positive">
          <div class="shortlist-icon">
            <i class="ion-paper-airplane"></i>
        </ion-option-button>
             
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>