<ion-view view-title="Shortlist">
  
  <!-- NAVIGATION STRIP -->
  <ion-nav-buttons side="right">
    <a class="button button-icon ion-map" 
      ng-href="#/map">
    </a>
  </ion-nav-buttons>
  
  <!-- SHORTLIST -->
  <ion-content>
    <ion-list>
      <ion-item 
        class="item-remove-animate item-icon-right" 
        ng-repeat="spot in shortlist"
        type="item-text-wrap"
        ng-click="showDetails('{{ card.vuid }}');">

        <!-- EACH DATESPOT IN THE SHORTLIST -->
        <div class="shortlist-info" style="background-image: url({{spot.image_url}})">
          <div class="shortlist-title-block">
            <h2 class="shortlist-header">{{spot.name}}</h2>
            <h3 class="shortlist-address">{{spot.address}}, {{spot.postcode}}</h3>
          </div>
        </div>

        <!-- SWIPE OPTIONS TO DELETE, SHARE OR PIN EACH DATESPOT -->
        <i class="icon ion-chevron-right icon-accesory"></i>
          <ion-option-button 
            class="button-assertive"
            ng-click="removeSpot(spot, $index)">
            <i class="ion-trash-a"></i>
          </ion-option-button>

          <ion-option-button
            class="button-positive">
            <i class="ion-paper-airplane"></i>
          </ion-option-button>

          <ion-option-button
            class="button-calm">
            <i class="ion-pin"></i>
          </ion-option-button>

        <!-- OPTIONS TO CALL, EMAIL AND BOOK DATESPOTS -->
        <div class="row shortlist-options">
          <div class="col-33 shortlist-call-button">
            Call
          </div>
          <div class="col-33 shortlist-email-button">
            Email
          </div>
          <div class="col-33 shortlist-book-button">
            Book
          </div>
        </div>
        
      </ion-item>
      
      <!-- BLANK SPACE BETWEEN SHORTLIST ITEMS -->
      <div class="shortlist-buffer"></div>       
      
    </ion-list>
  </ion-content>
</ion-view>