<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<!-- <ion-tabs class="tabs-icon tabs-color-active-stable">

  <ion-tab class="tabStyle" 
    title="Search"
    name="tab-search" 
    icon-off="ion-search" 
    icon-on="ion-search" 
    href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <ion-tab class="tabStyle" 
    title="Discover" 
    name="tab-discover"
    icon-off="ion-lightbulb" 
    icon-on="ion-lightbulb" 
    href="#/tab/discover">
    <ion-nav-view name="tab-discover"></ion-nav-view>
  </ion-tab>

  <ion-tab class="tabStyle" 
    title="Shortlist" 
    name="tab-shortlist"
    icon-off="ion-bookmark" 
    icon-on="ion-bookmark" 
    href="#/tab/shortlist"
    on-select="enteringShortlist()"
    on-deselect="leavingShortlist()"
    badge="shortlistCount()"
    badge-style="badge-assertive">
    <ion-nav-view name="tab-shortlist"></ion-nav-view>
  </ion-tab>

</ion-tabs>
 -->