/*******************
/* GLOBAL STYLING */
/******************/

/*GLOBAL COLOR SCHEMES
WHITE: #FDFFFC
BLACK: #020100
GREY: #95AEC7
SEA GREEN: #4BC6B9
SALMON RED: #F05D5E*/


/*FONT IMPORTS*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

* {
  font: 20px 'Varela Round';
  /*Other fonts to consider: 'Adelle Bold', 'Helvetica Neue', sans-serif;*/

}

.customBar {
  background-color: #000;
  color: #FFF;
  border: none;
/*  height: 60px;
  vertical-align: middle;*/
}

.scroll-content {
  background-color: #000;
}

/*Disables Ionic items turning grey on press*/
.item.active, .item.activated, .item-complex.active .item-content, 
.item-complex.activated .item-content, .item .item-content.active,
.item .item-content.activated {
    background: transparent !important;
    border: transparent !important;
}

/*Disables Ionic items default styling*/
.item, .item.active{
  border: transparent !important;
}

/************************
/* SPLASH PAGE STYLING */
/***********************/

.splash-page {
  background:url(../img/splash-bkg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.splash-page .card {
  margin-top:40px;
}

.splash-page .logo h1 {
  margin-top:30px;
  text-align:center;
  color:#fff !important;
  font-family: Verdana, Geneva, sans-serif;
  font-weight:bold;
  letter-spacing: -3px;
  font-size:42px;
}

.splash-page .signup-opt {
  color:#fff;
  padding:15px;
  margin-top:20px;
  font-weight: bold;
  cursor:pointer;
}

.splash-page .action-button {
  font-weight: bolder;
}

/*****************
/* TABS STYLING */
/****************/

/*.tab-nav {
  background-color: #000;
  border: none;
}

.tab-nav-tabs {
  background-color:#000 !important;
}

.tabStyle, .tab-item {
      background-color: transparent  !important;
    }

.tab-item-active {
  color: black;
  opacity: 2;
}

.tabs-icon {
  background-color: #222;
}*/

/***********************
/* SEARCH TAB STYLING */
/**********************/

.item-complex .item-content {
  background-color: rgba(0,0,0,0.45);
  border: none;
  border: transparent !important;
  border-top: none;
  border-bottom:none;
  margin-bottom: -5px;
}

.item-complex .item-content:hover {
  background: rgba(0, 0, 0, 0.75) !important;
  border: transparent !important;
}

.ion-item. .item-complex {
  border: transparent !important;
  border-top: none;
  border-bottom:none;
  margin-bottom: -5px;
}

.item.active, .item.activated, .item-complex.active .item-content, .item-complex.activated .item-content {
  border-color: none;
  background-color: #000;
  border-top: none;
  border-bottom:none
;}

.occasionPicker {
  padding: 0px !important;
  margin: 0px !important;
  border: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: stretch;
  min-height: 100% !important;
  height: 100% !important;
}

.occasionInfo {
  height: 190px; 
  line-height: 190px;
  padding: 0px;
  text-align: center;
  background-size: cover;
}

.defaultOccasion {
  background: no-repeat center;
  background-size: cover!important;
  -webkit-background-size: cover!important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  border: 0.5px solid #333;
  height: 100%;
}

.occasionHeader {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  text-transform: uppercase;
  font-family: 'Varela Round';
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px #333;
}

.occasionTagline {
  font-family: 'Varela Round';
  font-size: 20px;
  color: #fff;
  word-wrap: break-word;
}

/**************************
/* DISCOVER PAGE STYLING */
/*************************/
.discover-page {

}

.td-cards {
}

.swipe-card {

}

.card, .td-card {
  border-radius: 0px;
}

.discover-card {
  border-radius: 0px;
  height: 50px;
  border: 5px red;
}

.discover-card-image {
  padding: 5px;
  border-radius: 15px 15px 0 0;
  width: auto;
  height: auto;
  /*background: no-repeat center;*/
  background-size: cover!important;
  -webkit-background-size: cover!important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-image: linear-gradient(to bottom, transparent, #222);
}

.discover-card-caption, .click-block, .click-block-hide {
  padding: 10px;
  min-height: 50px;
  height: 160px;
  margin-top: -6.5px;
  border-radius: 0 0 15px 15px;
  background-color: #4BC6B9;
  z-index: 100px;
}

.card-spot-name {
  font-size: 18px;
  color: #FDFFFC;
  text-shadow: 1px 1px #222;
  font-weight: bold;
  background-color: #4BC6B9;
  margin-top: -70px;
}

.card-spot-address, .card-spot-postcode {
  font-size: 13px;
  text-shadow: 1px 1px #222;
  color: #DDD;
  font-weight: bold;
  background-color: #4BC6B9;
}

.card-spot-description {
  margin-top: 20px;
  font-size: 13px;
  background-color: #4BC6B9;
}

.discover-page .current-song {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
  -webkit-transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.1s;
  transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.1s;
}

.discover-page .current-song .item-image {
  max-height:300px;
  overflow:hidden;
}

@media screen and (max-height: 600px) {
  .discover-page .current-song .item-image {
    max-height:200px;
    overflow:hidden;
  }
}

.discover-page .current-song.favorited.ng-hide {
  -webkit-transform: translateX(1000px) rotate(50deg);
  -ms-transform: translateX(1000px) rotate(50deg);
  transform: translateX(1000px) rotate(50deg);
  opacity:0;
}

.discover-page .current-song.skipped.ng-hide {
  -webkit-transform: translateX(-1000px) rotate(-50deg);
  -ms-transform: translateX(-1000px) rotate(-50deg);
  transform: translateX(-1000px) rotate(-50deg);
  opacity:0;
}

.discover-page .current-song.ng-hide-add {
  -webkit-transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.3s;
  transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.3s;
  display:block!important;
}

.discover-page .current-song.ng-hide-remove {
  -webkit-transform: scale(0.7) translateX(0px) rotate(0deg);
  -ms-transform: scale(0.7) translateX(0px) rotate(0deg);
  transform: scale(0.7) translateX(0px) rotate(0deg);
  opacity: 0;
}


.discover-page .img-lookahead img {
  height:1px;
  width:1px;
  opacity:0.01;
}

/***************************
/* SHORTLIST PAGE STYLING */
/**************************/
.shortlistInfo {
  padding: 15px;
  background: no-repeat center;
  background-size: cover!important;
  -webkit-background-size: cover!important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 240px;
  width: 400px;
  border: black;
  background-image: linear-gradient(to bottom, transparent, #222);
}

.shortlistInfo:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom, transparent, #111 99%);
  /*background: -webkit-linear-gradient(
      transparent, #222 99%);*/
}

.item-remove-animate .item-icon-right {
  border: 0.5px solid #333;
}

.shortlistHeader {
  color: #FDFFFC;
  font-family: 'Varela Round';
  font-size: 30px;
  position: relative;
  padding-top: 170px;
  text-shadow: 1px 1px #222;
  z-index: 2
}

.shortlistAddress {
  color: #DDD;
  font-family: 'Varela Round';
  font-size: 30px;
  position: relative;
  text-shadow: 1px 1px #222;
  z-index: 2;
}

.shortlistTagline, .ion-footer-bar {
  font-family: 'Varela Round';
  background-color: transparent;
  height: 50px;
  width: 400px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  color: #DDD;
}

.textWrapper {
  font-size: 13.5px;
  overflow: initial; 
  white-space: initial;
  word-break: break-word;
  position: justify;
  text-align: justify;
  text-justify: inter-word;
}

.item-complex .item-content, .item-radio .item-content {
  padding: 0px;
}

.shortlist.button-assertive {
  width: 70px;
  font-size: 10px;
}

.shortlist-text {
  font-size: 14px;
  left: auto;
  right: auto;
  display: block;
  text-align: center;
}

.shortlist-icon-tray {
  background-color: transparent;
  height: 40px;
  width: 140px;
  padding: 2px;
  float: right;
  margin-right: 7px;
  margin-top: -5px;
}

.halo {
  background-color: #555;
  border-radius: 50%;
  border: 1px solid #fff;
  width: 40px;
  height: 40px;
  line-height: 40px;  
  float: right;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin-left: 1px; margin-right: 1px;
}

.ion-ios-telephone, .ion-ios-email, .ion-calendar {
  color: #fff;
  font-size: 27px;
  line-height: inherit;
  text-align: center;
  vertical-align:middle;
  display:inline-block;
}

.ion-paper-airplane, .ion-trash-a, .ion-pin {
  font-size: 28px;
  text-align: center; 
  padding: 10px;
}

.ion-chevron-right {
  color: #FFF;
  text-shadow: 1px 1px #333;
}

/*************************
/* DETAILS PAGE STYLING */
/************************/
.detailsPageTest {
  color: #f3f3f3;
  font-family: 'Varela Round';
}

.slider-view {
}

.slider-pager {
  top: 0;
  margin-top: 20px;
  font-size: 12px;
}

.slider-pager-page.active {
  color: #4BC6B9;
}

.sliderCard {
  min-height: 400px;
  width: auto;
  background-color: #FFF;
  z-index: ;
}

.spotDetailHeader {
  margin-top: -70px;
  z-index: 1;
  position: absolute;
}

.spotDetailImage {
  max-height: 400px;
  width: auto;
  background-image: linear-gradient(to bottom, transparent, #222);
}

.spotDetailName, 
.spotDetailAddress, 
.spotDetailCategory, 
.spotDetailBlurb  
.spotDetailOccasion 
.spotDetailPrice 
.spotDetailStrip {
  font-family: 'Varela Round';
  font-size: 22px;
  color: #FFF;
  text-shadow: 1px 1px #333;
}

.spotDetailStrip {
  background-color: #4BC6B9;
  font-family: 'Varela Round';
  margin-bottom: 15px;
  height: 44px;
}

.spotDetailAddress {
  font-size: 14px;
  margin-top: -5px;
}

.spotDetailBlurb, .spotDetailDescription {
  font-size: 14px;
}

.spotDetailBlurb {
  font-weight: bold;
}

.spotDetailDescription, {
  margin-top: 15px;
}

.spotDetailCategory {
  font-size: 14px;
  color: #555;
}

.spotDetailPrice, {
  text-align: right;
}

.spotDetailOccasion, {
  text-align: left;
  font-family: 'Varela Round';
  color: #444;
}

/*************************
/* LOADING PAGE STYLING */
/************************/
.loadingPage {
  background-color: #FFF;
}

.heart-image {
  height: 95px;
}

.loadingMessage {
  font-size: 16px;
  color: #f3f3f3;
   -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}

/***********************
/* HEART ICON STYLING */
/**********************/
.heart {
  margin-top: 90px;
  font-size:  70px;
  text-align: center;
  color: #e74c3c;
  animation: beat 1s infinite;
}

@keyframes beat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(1.1);
    animation-timing-function: ease-in;
  }
  15% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  25% {
    transform: scale(1.05);
    animation-timing-function: ease-in;
  }
  35% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}
