/*******************
/* GLOBAL STYLING */
/******************/

/*GLOBAL COLOR SCHEMES
WHITE: #FDFFFC
BLACK: #020100
GREY: #95AEC7
SEA GREEN: #4BC6B9
SALMON RED: #F05D5E*/

/*FONT IMPORTS*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,900);
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

* {
  font: 20px 'Varela Round';
  background-color: transparent;
  /*Other fonts to consider: 'Adelle Bold', 'Helvetica Neue', sans-serif;*/

}

.customBar {
  background-color: #000;
  color: #FFF;
  border: none;
/*  height: 60px;
  vertical-align: middle;*/
}

.scroll-content {
  background-color: #000;
}

/*Disables Ionic items turning grey on press*/
.item.active, .item.activated, .item-complex.active .item-content, 
.item-complex.activated .item-content, .item .item-content.active,
.item .item-content.activated {
    background: transparent !important;
    border: transparent !important;
}

/*Disables Ionic items default styling*/
.item, .item.active{
  border: transparent !important;
}

/*Disables annoying white line across header and footer bars*/
.title, .title-center, .title.title-center.header-item,
.title.header-item, .title-center.header-item,
.nav-bar-block, .ion-header-bar,
.customBar.bar.bar-header, .customBar, .bar, .bar-header,
.grade-b, .menu-content, .grade-c, .menu-content {
  border: 0px !important;
  border-bottom-color: transparent !important;
  background-image: none;
  border-bottom: none;
}

/************************
/* SPLASH PAGE STYLING */
/***********************/

.splash-page {
  background:url(../img/splash-bkg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.splash-page .card {
  margin-top:40px;
}

.splash-page .logo h1 {
  margin-top:30px;
  text-align:center;
  color:#fff !important;
  font-family: Verdana, Geneva, sans-serif;
  font-weight:bold;
  letter-spacing: -3px;
  font-size:42px;
}

.splash-page .signup-opt {
  color:#fff;
  padding:15px;
  margin-top:20px;
  font-weight: bold;
  cursor:pointer;
}

.splash-page .action-button {
  font-weight: bolder;
}

/***********************
/* SEARCH TAB STYLING */
/**********************/

.item-complex .item-content {
  background-color: rgba(0,0,0,0.45);
  border: none;
  border: transparent !important;
  border-top: none;
  border-bottom:none;
  margin-bottom: -5px;
}

.item-complex .item-content:hover {
  /*background: rgba(0, 0, 0, 0.75) !important;*/
  border: transparent !important;
}

.ion-item. .item-complex {
  border: transparent !important;
  border-top: none;
  border-bottom:none;
  margin-bottom: -5px;
}

.item.active, .item.activated, .item-complex.active .item-content, .item-complex.activated .item-content {
  border-color: none;
  background-color: #000;
  border-top: none;
  border-bottom:none;
}

.occasion-picker {
  padding: 0px !important;
  margin: 0px !important;
  border: none;
/*  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: center;
  align-items: stretch;
  min-height: 100% !important;
  height: 100% !important;*/
}

.occasion-info {
  height: 190px; 
  line-height: 190px;
  padding: 0px;
  text-align: center;
  background-size: cover;
}

.default-occasion {
  background: no-repeat center;
  background-size: cover!important;
  -webkit-background-size: cover!important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  border: 0.5px solid #333;
}

.occasion-header {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  text-transform: uppercase;
  font-family: 'Varela Round';
  font-size: 18px;
  color: #fff;
  text-shadow: 1px 1px #333;
}

.occasionTagline {
  font-family: 'Varela Round';
  font-size: 20px;
  color: #fff;
  word-wrap: break-word;
}

/**************************
/* DISCOVER PAGE STYLING */
/*************************/

.td-cards {
}

.swipe-card {
}

.card, .td-card {
  z-index: 1;
  position: relative;
  border-radius: 15px;
}

.discover-card-image {
  width: auto;
  height: auto;
  background: no-repeat center;
  background-size: cover!important;
  -webkit-background-size: cover!important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-image: linear-gradient(to bottom, transparent, #222);
}

.discover-card-caption, .click-block, .click-block-hide {
  padding: 10px;
  min-height: 50px;
  height: 140px;
  background-color: #FDFFFC;
  border-radius: 0 0 15px 15px;
  z-index: 100px;
}

.card-spot-name {
  font-size: 18px;
  color: #FDFFFC;
  text-shadow: 1px 1px #222;
  font-weight: bold;
  margin-top: -60px;
  padding: 0 0 0 8px;
}

.hours-status, .row.hours-status {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  color: #FDFFFC;
  background-color: #4BC6B9;
  text-shadow: none;
  width: 24%;
  height: 18px;
  text-align: center;
  vertical-align: middle;
  padding: 2px;
  margin-top: 10px;
  margin-bottom: 1px;
}

.card-spot-address, .card-spot-postcode {
  font-size: 12px;
  text-shadow: 1px 1px #222;
  color: #FDFFFC;
  font-weight: bold;
  background-color: transparent;
  padding: 0 0 0 8px;
  margin-top: -5px;
}

.card-spot-strip {
  height: 55px;
  background-color: #95AEC7;
  font-weight: bold;
}

.price-meter, .quirky-meter, .card-spot-distance {
  font-size: 14px;
  font-weight: bold;
  color: #FDFFFC;
  vertical-align: middle;
  padding: 5px;
  line-height: inherit;
  margin-top: 10px;
  display: inline-block;
}

.inactive {
  color: #888;
}

.card-spot-description {
  font-size: 13px;
  margin-top: -15px;
  background-color: #FDFFFC;
}

/*.discover-page .img-lookahead img {
  height:1px;
  width:1px;
  opacity:0.01;
}*/

/***************************
/* SHORTLIST PAGE STYLING */
/**************************/
.shortlist-background {
  background-color: #CCC;
}

.shortlist-info {
/*  padding: 0px;
/*  padding-left: 5px; padding-right: 5px; padding-bottom: 10px;
*/  
  background: no-repeat center;
  background-size: cover!important;
  -webkit-background-size: cover!important;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 200px;
  width: 400px;
  border: none;
  padding: 0;
}

.shortlist-info:before {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
/*  background-color: transparent;
*/  /*background: -webkit-linear-gradient(
      transparent, #222 99%);*/
}

.shortlist-title-block {
  height: 60px;
  font-weight: bold;
  background-color: transparent;
/*  background-image: linear-gradient(to bottom, transparent, #111 99%);
*/}

.item-remove-animate .item-icon-right {
  border: 0.5px solid #333;
}

.shortlist-header {
  color: #FDFFFC;
  font-family: 'Varela Round';
  font-size: 32px;
  font-weight: bold;
  position: relative;
  padding-top: 160px;
 /* text-shadow: 1px 1px #222;*/
  z-index: 2
}

.shortlist-address {
  color: #FDFFFC;
  font-family: 'Varela Round';
  font-size: 24px;
  position: relative;
}

/*.shortlistTagline, .ion-footer-bar {
  font-family: 'Varela Round';
  background-color: transparent;
  height: 50px;
  width: 400px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
  color: #DDD;
}*/

/*.textWrapper {
  font-size: 13.5px;
  overflow: initial; 
  white-space: initial;
  word-break: break-word;
  position: justify;
  text-align: justify;
  text-justify: inter-word;
}*/

.item-complex .item-content, .item-radio .item-content {
  padding: 0px;
}

.shortlist.button-assertive {
  width: 70px;
  font-size: 10px;
}

.shortlist-text {
  font-size: 14px;
  font-weight: bold;
  left: auto;
  right: auto;
  display: block;
  text-align: center;
}

.ion-chevron-right {
  color: #FFF;
  text-shadow: 1px 1px #333;
}

.shortlist-options, .row.shortlist-options {
  text-align: center;
  color: #95AEC7;
  background-color: #FDFFFC;
  padding: 10px;
}

.shortlist-call-button, .shortlist-email-button {
  border-right: solid #95AEC7;
  border-width: thin;
}

.shortlist-call-button, .col-33.shortlist-call-button,
.shortlist-email-button, .col-33.shortlist-email-button,
.shortlist-book-button, .col-33.shortlist-book-button { 
  height: 22px; 
  color: #95AEC7;
}

.ion-calendar, .ion-ios-telephone, .ion-ios-email {
  color: #95AEC7;
}

.shortlist-options, .row.shortlist-options {
  width: 400px;
  margin-bottom: 15px;
  color: #95AEC7;
}

/*SWIPE LEFT BUTTON FUNCTIONS*/
.ion-paper-airplane, .ion-trash-a, .ion-pin {
  font-size: 25px;
  text-align: center; 
  padding: 10px;
}

/*************************
/* DETAILS PAGE STYLING */
/************************/
.details-page {
  color: #f3f3f3;
  background-color: #FFF;
  font-family: 'Varela Round';
}

.slider-view {
}

.slider-pager {
  top: 0;
  margin-top: 20px;
  font-size: 12px;
}

.slider-pager-page.active {
  color: #4BC6B9;
}

.sliderCard {
  min-height: 400px;
  width: auto;
  background-color: #FDFFFC;
  z-index: ;
}

.spotDetailHeader {
  margin-top: -76px;
  z-index: 1;
  background: linear-gradient(to bottom, transparent, #111);
  position: absolute;
}

.spotDetailImage {
  max-height: 400px;
  width: auto;
  background-image: linear-gradient(to bottom, transparent 90%, #222);
}

.spotDetailName, 
.spotDetailAddress, 
.spotDetailCategory, 
.spotDetailBlurb,  
.spot-detail-occasion {
  font-family: 'Varela Round';
  font-size: 22px;
  font-weight: bold;
  color: #FDFFFC;
}

.spotDetailAddress {
  font-size: 14px;
  margin-top: -5px;
}

.row.spot-detail-strip {
  color: #FDFFFC;
  font-weight: bold;
  font-family: 'Varela Round';
  height: 58px;
  background-color: #95AEC7;
}

.spotDetailBlurb, .spot-detail-description {
  font-size: 14px;
}

.spotDetailBlurb {
  font-weight: bold;
}

.spot-detail-description {
  margin-top: 5px;
  color: #020100;
  font-size: 13px;
  padding-bottom: 25px;
}

.spotDetailCategory {
  font-size: 14px;
  color: #FDFFFC;
}

.spot-detail-distance, .spot-detail-price {
  font-family: 'Varela Round';
  font-size: 14px;
  font-weight: bold;
  color: #FDFFFC;
  vertical-align: middle;
  padding: 5px;
  line-height: inherit;
  margin-top: 18px;
  display: inline-block;
}

.spot-detail-price {
  text-align: left;
}

.spot-detail-distance {
  text-align: right;
}

.spot-detail-occasion {
  text-align: left;
  font-family: 'Varela Round';
  color: #444;
}

/*BUTTONS TO CALL, EMAIL OR BOOK A SPOT*/
.col-15.buffer-left, .col-15.buffer-right {
  width: 15%;
}

.col-15.button-holder {
  text-align: center;
  padding: 0 20px 0 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: solid #95AEC7;
  border-bottom: solid #95AEC7;
  border-width: thin;
}

.call-button, .email-button, .book-button {
  border-radius: 100%;
  width: 50px;
  height: 50px;
  border-color: #95AEC7;
}

.ion-ios-telephone, .ion-ios-email, .ion-calendar {
  color: #020100;
  line-height: inherit;
  text-align: center;
  vertical-align:middle;
  display:inline-block;
}

.call-icon, 
.email-icon, 
.book-icon {
  font-size: 25px;
  border-radius: 
}

.row.spot-detail-options-text {
  font-family: 'Varela Round';
  color: #020100;
  font-size: 15px;
  padding: 0 20px 8px 20px;
}

.button-text-1,
.button-text-2,
.button-text-3 {
  text-align: center;
  width: 50px;
  font-weight: bold;
}

.button-text-2, .button-text-3 {
  margin-left: 43px;
}

/*************************
/* LOADING PAGE STYLING */
/************************/
.loadingPage {
  background-color: #FFF;
}

.heart-image {
  height: 95px;
}

.loadingMessage {
  font-size: 16px;
  color: #f3f3f3;
   -webkit-box-ordinal-group: 1;
    -moz-box-ordinal-group: 1;
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-box-flex: 0;
    -moz-box-flex: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}

/***********************
/* HEART ICON STYLING */
/**********************/
.heart {
  margin-top: 90px;
  font-size:  70px;
  text-align: center;
  color: #e74c3c;
  animation: beat 1s infinite;
}

@keyframes beat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(1.1);
    animation-timing-function: ease-in;
  }
  15% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
  25% {
    transform: scale(1.05);
    animation-timing-function: ease-in;
  }
  35% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}